doctype html!
html
    head
        meta(charset="Utf=8")
        title 404
        link(rel="stylesheet", href="./css/bundle.min.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        div.wrapper
            div.container
                div.logo
                    img.logo__icon(src="./images/logo.png")
                    p.logo__title Акватак Украина
                div.error-404
                    p.error-404__number 404
                    p.error-404__title Ошибка
                    p.error-404__text.
                        Вы находитесь здесь потому, что запрашиваемая страница
                        не существует или была перемещена по другому адресу.
                div.error-b
                    a.button(href="index.html") На главную
