doctype html!
html
    head
        meta(charset="Utf=8")
        title 404
        link(rel="stylesheet", href="./css/bundle.min.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        div.wrapper
            div.container
                div.logo
                    img.logo__icon(src="./images/logo.png")
                    p.logo__title Акватак Украина
                div.error
                    p.error 404
                div.title
                    p Ошибка
                div.text
                    p.
                        Вы находитесь здесь потому, что запрашиваемая страница
                        не существует или была перемещена по другому адресу.
                div.button
                    a.btn(href="index.html") На главную
